<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1073979378047-qd52aphhc95pn1ol4g83h6fprlnabhdp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1073979378047-qd52aphhc95pn1ol4g83h6fprlnabhdp</string>
	<key>API_KEY</key>
	<string>AIzaSyAe2fOSwFIhCEEJyLOAg26f0UaTcixcUDM</string>
	<key>GCM_SENDER_ID</key>
	<string>1073979378047</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.crudOperations</string>
	<key>PROJECT_ID</key>
	<string>crud-operations-0728</string>
	<key>STORAGE_BUCKET</key>
	<string>crud-operations-0728.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1073979378047:ios:5c5d66feeba8f8ec06724a</string>
</dict>
</plist>